body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  color: #333;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #555;
}

form {
  margin-bottom: 20px;
  text-align: center;
}

label {
  margin-right: 10px;
}

input {
  margin-right: 10px;
  padding: 5px;
}

button {
  padding: 5px 10px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#profile-container {
  margin-top: 20px;
}
